[submodule "exernal/bit7z"]
	path = libs/io/external/bit7z
	url = git@github.com:rikyoz/bit7z.git
[submodule "libs/net/tests/external/server"]
	path = libs/net/tests/external/server
	url = git@github.com:yhirose/cpp-httplib.git
